*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.dashboard_blog_all{
    width: 80%;
    padding:10% 10% 2% 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.content_blog_all{
    width: 92%;
    margin-left: 8%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.action_blog{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action_blog_search{
    width: 60%;
    padding:0.5% 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--grey);
    border-radius: 25px;
    border: none;
    
}

.action_blog_btns{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
}

.card_blog{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rest_blog{
    width: 96%;
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}