*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.dashboard_home_all{
    width: 80%;
    padding: 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.content_home_all{
    width: 92%;
    margin-left: 8%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.div1-home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insights_div{
    width: 30%;
    padding: 2% 2%;
    background-color: var(--grey);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    height: 6vh;
}

.insights_div1,
.calender_div1{
    color: var(--blue);
    font-family: haas_light;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    height: 100%;
    gap: 10px;
}

.graph1_insight{
    width: 55%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -2%;
}

.explore_btn{
    background-color: var(--blue);
    color: var(--txt_color);
    padding: 10% 40%;
    border: none;
    border-radius: 20px;
}

.insight_p{
    margin-left: 6%;
}

.calender_div{
    width: 61%;
    padding:  2%;
    background-color: var(--grey);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 6vh;
}

.calender_p{
    font-family: haas_light;
    color: var(--blue);
    font-size: 18px;
}

.date_p{
    font-family: haas_light;
    color: white;
    font-size: 18px;
}

.calender_all{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calender_date1,
.calender_date2,
.calender_date3,
.calender_date4{
    background-color: var(--beige_light);
    width: 15%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: haas;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.calender_date_highlight{
    background-color: var(--beige);
    width: 18%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: haas;
    font-weight: bold;
    font-size: 20px;
    color: var(--txt_color);

}

.state_cards,
.quick_actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin-top: 2%;
}

.Collection_state,
.all_quick_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
