*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.dashboard_home_all{
    width: 80%;
    padding: 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.content_home_all{
    width: 93%;
    margin-left: 7%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.div1-home{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insights_div{
    width: 21%;
    padding: 2% 2%;
    background-color: var(--grey);
    border-radius: 25px;
}
