*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.dashboard_projects_all{
    width: 80%;
    padding:10% 10% 2% 10%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.project_hero_d{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects_by_category{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    align-items: center;
    padding: 2%;
    background-color: var(--grey);
    border-radius: 25px;
    height: 50vh;
    font-family: haas;
}

.extra_prjctsDiv{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.poster_all_work_div{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}