@media (max-width: 768px) {

    .dashboard_skills_all{
    width: 90%;
    padding: 20% 5% 2% 5%;
}

.content_skills_all{
    width: 85%;
    margin-left: 15%;
}

.Skills_d1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d1_d_skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d1_d_skills_h{
    color: var(--bck_color);
    font-size: 18px;
}

.d1_d_skills_p{
    color: #fef5ea92;
    font-size: 16px;
}

.line_div{
    width: 100%;
}

.skills_form_inputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: haas;
    color: white;
    font-size: 14px;
}


}