*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}


footer{
    width: 90%;
    padding: 0% 5%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: haas_light;
    color: rgba(255, 255, 255, 0.594);

}

.Footer2{
    width: 100%;
    padding: 5% 0% 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: haas_light;
    color: rgba(255, 255, 255, 0.594);
}

@media (max-width: 768px) {
    .Footer2{
    width: 90%;
    padding: 5% 5% 1% 5%;
}
}