*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.Contactedit_card{

    width: 36%;
    padding: 2%;
    background-color: #555454;
    border-radius: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin: 2% 0 0 0;

}

.Contactedit_card_d1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: #fef5ead9;
    font-family: haas_light;

}

.extra_editbtn{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contactedit_card_d2{
    width: 100%;
    padding: 4% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #fef5ea9f;
    font-family: haas_light;
}