*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.EditUserProfile_all{
    width: 100%;
    height: 30vh;
    background-color: var(--grey);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    flex-direction: column;

}

.UserProfile_img_div{
    width: 80%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 10px solid #2d2d2e;
    overflow: hidden;
    margin-top: -70%;
    margin-bottom: 5%;
}

.userimgEdit{
    width: 130%;
    height: 130%;
}

.UserProfile_img_div2{
    width: 90%;
    padding:  0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}