*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.EditBtn {
    width: 100%;
    height: 6vh;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    font-family: haas_light;
    font-size: 16px;
    color: white;

    /* ---- TRUE GLASS EFFECT ---- */
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.16);

    cursor: pointer;
    transition: 0.25s ease;
    margin-right: 3%;
}

.EditBtn img {
    width: 10%;
    opacity: 0.9;
}


.EditBtn:hover {
    background: rgba(255, 255, 255, 0.16);
    border-color: rgba(255, 255, 255, 0.25);
}
