@media (max-width: 768px) {
.InsightsPies_card{
    width: 90%;
    height: 35vh;
    padding:1% 5% 3% 5%;
}

.InsightsPies_d1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blue);
    font-family: haas;
    font-size: 18px;
}

.piechrts_img_div{
    width: 90%;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PieChart_img{
    width: 60%;
}
}