*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.div_all_project_poster{
    width: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.edit_project_poster_div{
    width: 96%;
    position: absolute;
    top: 0;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project_poster_img{
    width: 100%;
}

.edit_add_div{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


@media (max-width: 768px) {

    .div_all_project_poster{
    width: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    }


    .project_poster_img{
    width: 100%;
    }

    .edit_add_div{
    width: 65%;
    }

    .project_poster_img{
    width: 100%;
    height: 30vh;
}

}