*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.all_skills_input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill_name_d{
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.type_div{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: haas_light;
    font-size: 16px;
}

.level_div{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: haas_light;
    font-size: 16px;
}