*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

.skills_row {
    width: 100%;
    display: grid;
    grid-template-columns: 
        1.1fr   /* Skill name */
        1fr     /* Type */
        1fr     /* Level */
        1fr     /* Category */
        1.4fr   /* Status */
        1fr     /* Last update */
        0.4fr;  /* Actions */
    
    align-items: center;
    padding: 14px 18px;
    border-bottom: 1px solid #2f2f2f;
    color: white;
    font-family: haas_light;
    font-size: 15px;
}

.col p {
    margin: 0;
}

/* ===== Skill name column ===== */
.skill_name_col {
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill_name_col img {
    width: 28px;
    height: auto;
}

/* ===== Status column ===== */
.status_col {
    display: flex;
    align-items: center;
    gap: 12px;
}

.status_text {
    opacity: 0.8;
}

/* ===== Center all other columns ===== */
.type_col,
.level_col,
.category_col,
.update_col,
.action_col {
    display: flex;
    align-items: center;
}

/* Action column (dots) */
.action_col {
    justify-content: center;
}



@media (max-width: 768px) {

    .skills_row {
   padding: 5px 0px;
}


}
