*{
    margin: 0;
    padding: 0;
}

:root{
    --bck_color:#FEF5EA;
    --txt_color:#2d2d2e;
    --txt_color_light:#2d2d2e83;
    --sec_txt_colot:#6C2A9B;
    --font0:24px;
    --font1:32px;
    --font2:40px;
    --font3:48px;
    --grey:#474747;
    --blue:#A5BECC;
    --beige:#D4AEA1;
    --beige_light:#d4aea162;
}

body{
    font-family: haas;
    background-color: var(--txt_color);
}

@font-face {
    font-family: haas;
    src: url(../font/haas_font/NeueHaasGrotDispRound-55Roman-Trial.otf);
}

@font-face {
    font-family: haas_light;
    src: url(../font/haas_font/NeueHaasGrotDispRound-45Light-Trial.otf);
}

@font-face {
    font-family: haas_bold;
    src: url(../font/haas_font/NeueHaasGrotDispRound-75Bold-Trial.otf);
}

.card_state_all{
    width: 28.5%;
    height: 15vh;
    background-color: var(--grey);
    border-radius: 20px;
    padding: 2%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.explore_arrow{
    width: 10%;
}

.card_title_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_card{
    color: var(--blue);
    font-size: 18px;
    font-family: haas_light;
}

.number_card{
    color: white;
    font-family: haas_bold;
    font-size: 42px;
}

.note_card{
    color: rgba(255, 255, 255, 0.454);
    font-family: haas_light;
    font-size: 16px;

}