.toggle {
  width: 65px;
  height: 32px;
  background: #3a3a3a;      
  border-radius: 50px;
  padding: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle.on {
  background: #3a3a3a; 
}

.toggle-circle {
  width: 26px;
  height: 26px;
  background: #63e24b; 
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.toggle.on .toggle-circle {
  transform: translateX(33px); 
  background: #ee1f2d
}
